@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use "../../styles/partials/variables" as *;

.messages-page {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 1rem;

    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid #00000030;
        padding: 1rem 0;
    }

    &__title {
        font-weight: 500;
        font-size: 17px;
        justify-self: center;
        margin: 0;
    }

    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid #00000030;
        padding: 1.5rem 1rem;
    }

    &__right {
        width: 76%;

        h2 {
            margin: 0 0 0.5rem;
            font-size: 13px;
        }

        h3 {
            margin: 0;
            font-size: 13px;
            font-weight: 400;
        }
    }

    &__footer-navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-top: 1px solid #00000030;
        margin-top: 1rem;
        position: absolute;
        bottom: 3rem;
    }

    &__footer-tab {
        width: 20%;
        height: 71px;
        display: flex;
        align-items: center;
        justify-content: center;

        &--special {
            @extend .messages-page__footer-tab;
            padding-top: 10px;
        }
    }
}