@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use "../../styles/partials/variables" as *;

.messages-details-page {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid #00000030;
        padding: 1rem 0;

        img {
            position: absolute;
            left: 1rem;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 17px;
        justify-self: center;
        margin: 0;
    }

    &__conversation {
        padding: 2rem 1rem 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;

        div {
            width: 299px;
            background-color: #00000010;
            border: none;
            border-radius: 5px;
            padding: 1rem;

            h3 {
                position: relative;
                margin: 0;
                font-weight: 400;
                font-size: 13px;
            }
        }

    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f1f3f7;
        width: 100%;
        position: absolute;
        bottom: 0;

        input {
            background-color: white;
            border-radius: 10px;
            color: #6B779A;
            padding: 0.3rem 1rem;
            border: none;
            margin: 1rem;
            width: 264px;
            height: 33px;
        }
    }

}