@use './styles/partials/fonts' as *;
@use './styles/partials/mixins' as *;
@use "./styles/partials/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  background-color: #00000050;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}



.App {
  width: 375px;
  height: 812px;
  position: relative;
  padding: 3rem 0;
  overflow: auto;
  background-color: white;
}