@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use "../../styles/partials/variables" as *;

.home-page {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding: 2rem 1rem 0;

    &__profile-picture {
        position: absolute;
        left: 1rem;
    }

    &__address {
        font-weight: 500;
        font-size: 14px;
        color: #00000080;
        position: relative;
    }

    &__services {
        display: flex;
        width: 100%;
        align-items: flex-start;
    }

    &__service {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;

        &-title{
            color: #00000080;
            font-size: 10px;
            font-weight: 900;
        }
    }

    &__section-title {
        font-size: 18px;
        font-weight: 700;
        color: rgba(0,0,0,0.9);
        align-self: flex-start;
    }

    &__providers {
        width: 100%;
        height: 395px;
        overflow: auto;
        display: flex;
    }

    &__provider-wrapper {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-right: 1rem;
    }

    &__provider-image {
        width: 283px;
        height: 283px;
    }

    &__provider-information {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        position: relative;

        h2 {
            color: #000000;
            font-size: 15px;
        }

        p {
            position: absolute;
            right: 0;
            top: 1rem;
            margin: 0;
            padding: 0;
            font-size: 12px;
            color: #00000080;
        }
    }

    &__provider-rating {
        display: flex;

        h2{
            color: #000000;
            font-size: 15px;
            margin: 0 0.5rem;
        }
    }

    &__provider-services {
        display: flex;
    }

    &__provider-service {
        width: 56px;
        height: 21px;
        background-color: #00000010;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin:1rem 1rem 0 0;
        border: 2px solid #00000030;

        h2 {
            font-weight: 500;
            font-size: 8px;
            color: #00000080;
        }
    }

    &__groups {
        display: flex;
        width: 100%;
        height: 265px;
        overflow: auto;
    }

    &__group {
        width: 80%;
        margin-right: 1rem;

        h2 {
            color: #000000;
            font-size: 15px;
        }
    }

    &__classes {
        display: flex;
        width: 100%;
        height: 265px;
        overflow: auto;
    }

    &__class {
        width: 80%;
        margin-right: 1rem;
        
        h2 {
            color: #000000;
            font-size: 15px;
        }
    }

    &__information {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__information-view-more {
        color: #883f39;
        font-size: 16px;
        font-weight: 900;
    }

    &__information-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__information-texts {
        h2 {
            font-size: 11px;
            font-weight: 500;
            color: #883f39;
        }

        h3 {
            font-size: 14px;
            font-weight: 500;
        }
    }

    &__footer-navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-top: 1px solid #e5e5e5;
    }

    &__footer-tab {
        width: 20%;
        height: 71px;
        display: flex;
        align-items: center;
        justify-content: center;

        &--special {
            @extend .home-page__footer-tab;
            padding-top: 10px;
        }
    }
}